/*Globales*/
:root{
    --fuertePrincipal: 'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --primario: #f1a94e;
    --secundario: #44b3c2;
    --terciario: #343a40;
    --claro: white;
    --negro: #000000;
    --purpleDark: #3E065F;
    --purpleMid: #700B97;
    --purpleLight: #8E05C2;

}


body{
    font-family: var(--fuertePrincipal);
}
img{
    max-width: 100%;
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2.2rem;
}
p{
    font-size: 1.2rem;
}
.titulo{
    background-color: var(--purpleDark);
}
.logo-inicio{
    height: 1.8rem;
}
.hero{
    background-image: url(../img/bg5.jpg);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color: white;
}

.bg-oscuro{
    background-color: rgba(7, 7, 7, 0.6);
    height: 30rem;
}
.bg-claro{
    background-color: rgba(240, 240, 240, 0.6);
    height: 30rem;
}
@media (min-width: 768px){
    .hero, .bg-claro, .bg-oscuro{
        height: 40rem;
    }
}
.subtitulo{
    font-size: 1.6rem;
}
.bg{
    background-color: var(--purpleDark);
}




/*
#tecnologias,
#portafolio{
    margin-top: 5rem 0;
    padding-top: 5rem;
    border-top: .1rem solid #e1e1e1;
}
*/
.bg-portafolio{
    background-color: var(--purpleDark);
}

.card{
    border: none!important;
}
.card-img-top{
    border: .1rem solid #e1e1e1!important;
    border-radius: .3rem;
}
.card-text{
    line-height: 1.2;
}
.proyectos img{
    transition-property: transform;
    transition-duration: .3s;
}
.proyectos img:hover{
    transform: scale(1.2);
}
/*proyectos*/
figure{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: .3rem solid var(--terciario);
    border-radius: .3rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
figure img{
    transition: all .5s ease-out;
    height: 100%;
}
figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 6, 151, .98);
    transition: all .5s ease-out;
    opacity: 0;
    visibility: hidden;
}
figure:hover > .capa{
    opacity:1;
    visibility: visible;
}
figure:hover > img{
    transform: scale(1.2);
}
figure .capa h3{
    transition: all 500ms ease-out;
}
.capa p{
    line-height: 1.2;
    width: 90%;
    max-width: 95%;
}
/*ejemplo*/
.demostracion{
    position:relative;
    width:100px;
    height:100px;
    z-index:1;
}
.demostracion span{
    position:absolute;
    left: 0rem;
    top: 1.1rem;
    color:#fff;
    font-size:1rem;
    width: 15rem;
    height: 35px;
    text-align:center;
    background-color:var(--terciario);
    line-height:2rem;
    border-radius: 5px 0px 5px 0px;
}