/*Globales*/
:root{
    --fuertePrincipal: 'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --primario: #f1a94e;
    --secundario: #44b3c2;
    --terciario: #2b2b2b;
    --claro: white;
}
body{
    font-family: var(--fuertePrincipal);
}
img{
    max-width: 100%;
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2.2rem;
}
p{
    font-size: 1.2rem;
}
.logo-inicio{
    height: 2.5rem;
}
.hero{
    background-image: url(../img/fondo3.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    display: grid;
}
.subtitulo{
    font-size: 1.6rem;
}
#tecnologias,
#portafolio{
    margin-top: 5rem 0;
    padding-top: 5rem;
    border-top: .1rem solid #e1e1e1;
}
.card{
    border: none!important;
}
.card-img-top{
    border: .1rem solid #e1e1e1!important;
    border-radius: .3rem;
}